repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy

  - repo: local
    hooks:
      - id: generate-readme
        name: generate-readme
        entry: python scripts/dev/generate_readme.py
        language: system
        files: ^(project\.yaml|docs/readme\.template\.md|README\.md)$
